openapi: 3.1.0
info:
  title: API de Ejemplo con Control de Versiones
  description: Documentación de una API REST usando la última versión de OpenAPI/Swagger.
  version: 2.0.0
servers:
  - url: https://misitio.com
    description: Servidor de la Versión 1
  - url: https://misitio.com
    description: Servidor de la Versión 2

paths:
  # --- ENDPOINT VERSIÓN 1 ---
  /v1/usuarios:
    get:
      summary: Obtener lista de usuarios (Versión clásica)
      description: Retorna un arreglo simple de usuarios para la versión 1.
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsuarioV1'

  # --- ENDPOINT VERSIÓN 2 ---
  /v2/usuarios:
    get:
      summary: Obtener lista de usuarios (Versión nueva con metadatos)
      description: Retorna usuarios con estructura actualizada y paginación en la versión 2.
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespuestaUsuariosV2'

components:
  schemas:
    UsuarioV1:
      type: object
      properties:
        id:
          type: integer
          example: 1
        nombre:
          type: nombre
          type: string
          example: "Ana Pérez"

    UsuarioV2:
      type: object
      properties:
        id:
          type: integer
          example: 101
        nombreCompleto:
          type: string
          example: "Ana Pérez Gómez"
        correoElectronico:
          type: string
          example: "ana.perez@example.com"

    RespuestaUsuariosV2:
      type: object
      properties:
        total:
          type: integer
          example: 50
        datos:
          type: array
          items:
            $ref: '#/components/schemas/UsuarioV2'